.todoWrapper {
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    font-size: 30px;
}
.newTask {
    background-color: azure;
    h3 {
        margin: 0;
        padding: 20px;
    }
}